.sell-form-wrapper {
  background-color: $whitesmoke;
  position: relative;
  .form-container {
    width: 700px;
    margin: 0 auto;
    background-color: white;
    .item-area{
      padding: 24px 40px;
      border-top: solid 1px $whitesmoke;
      &__name {
        margin-bottom: 24px;
        font-size: 14px;
        font-weight: bold;
        color: $gray;
      }
      &__field {
        &__form {
          input {
            width: 100%;
            height: 40px;
            padding: 0 10px;
            border-radius: 5px;          
            font-size: 15px;
            color: black;
          }
          textarea {
            width: 100%;
            height: 120px;
            // border: 1px solid $lightgray;
          }
          select {
            width: 100%;
          }
          &--price {
            text-align: right;
          }
        }
        &--textarea {
          height: 140px;
        }
      }
      .field {
        margin-top: 24px;
        &__label {
          &--supple {
            margin: 12px 0;
            font-size: 12px;
            color: $gray;
          }
        }
      }
    }
    .item-btn-area {
      padding: 12px ;
      text-align: center;
      &__container {
        display: flex;
        align-items: center;
        height: 50px;
        margin: 24px;
        &__box {
          margin: 0 auto;
          .item-btn {
            display: inline-block;
            height: 50px;
            width: 360px;
            border: solid 1px $lightgray;
            background-color: $skyblue;
            color: white;
            &:hover {
              opacity: 0.5;
              transition: 1s;
            }
          }
          #item-draft-btn {
            background-color: $gray;
            padding: 12px 0;
            transition: 0.5s;
            &:hover{
              opacity: 0.7;
            }
          }
        }
      }
    }
  }
}

// 画像投稿box
#image-box-1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  .input-area {
    width: 100%;
    height: 160px;
    border: dashed 1px $lightgray;
    border-radius: 3px;
    background-color: $whitesmoke;
    &:focus {
      border: 1px solid $skyblue;
      outline: 0;
    }
    &__label {
      display: block;
      width: 100%;
      height: 160px;
      line-height: 160px;
      text-align: center;
      cursor: pointer;
    }
  }
  .item-image {
    height: 160px;
    margin: 0 10px 10px 0;
    background-color: $whitesmoke;
    &__content {
      border-bottom: solid 1px $lightgray;
      &--icon {
        margin: 24px 0;
        img {
          object-fit: cover;
        }
      }
    }
    &__operation {
      display: flex;
      align-items: center;
      font-size: 12px;
      color: $skyblue;
      &--delete {
        margin: 0 auto;
        cursor: pointer;
      }
    }
  }
}

.sell-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__field {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 320px;
    &::before {
      content: "¥";
      margin-right: 8px;
    }
  }
}
.sell-calc {
  margin-top: 12px;
  .fee {
    border-bottom: solid 1px $whitesmoke;
  }
  &__detail {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    margin: 16px 0;
    &--label {
      font-size: 14px;
      font-weight: normal;
    }
  }
}
.error {
  border: solid 1px red;
}

textarea .error {
  border: solid 1px red;
}

p.error {
  margin-top: 4px;
  border: none;
  font-size: 12px;
  color: red;
}

p.price-error {
  text-align: right;
}

.item-num-0{
  width: 100%;
}
.item-num-1{
  width: 486px;
}
.item-num-2{
  width: 362px;
}
.item-num-3{
  width: 238px;
}
.item-num-4{
  width: 114px;
}
//下段のfile_field
.item-num-5{
  width: 100%;
}
.item-num-6{
  width: 486px;
}
.item-num-7{
  width: 362px;
}
.item-num-8{
  width: 238px;
}
.item-num-9{
  width: 114px;
}

.item-num-10 {
  display: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

.hidden-destroy {
  display: none;
}

.drag-area {
  height: 160px;
}

.item-btn-red{
  background-color: $sign-up-btn;
  line-height: 50px;
  display: inline-block;
  height: 50px;
  width: 360px;
  color: white;
  &:hover {
    opacity: 0.5;
    transition: 1s;
    color: white;
  }
}