.main {
  background: #f8f8f8;
  &-item {
    position: relative;
    padding: 40px;
    margin: 0 auto;
    &__content {
      width: 700px;
      margin: 0 auto;
      &--form {
        .itembox {
          background-color: #fff;
          padding: 8px 90px 40px;
          &__name {
            margin-bottom: 20px;
            text-align: center;
            font-weight: bold;
            font-size: 24px;
          }
          &__image-container {
            position: relative;
            .sold-item {
              width: 0;
              height: 0;
              border-width: 144px 144px 0 0;
              border-color: #ea352d transparent transparent transparent;
              display: block;
              position: absolute;
              top: 0;
              left: 0;
              z-index: 1;
              border-style: solid;
              &__inner {
                top: -120px;
                font-size: 32px;
                position: absolute;
                left: 0;
                z-index: 2;
                color: #fff;
                transform: rotate(-45deg);
                letter-spacing: 2px;
                font-weight: 600;
                user-select: none;
              }
            }
            &__slider {
              display: flex;
              align-items: center;
              margin: 0 0;
              background-color: $whitesmoke;
              font-size: 60px;
              color: lightgray;
              &__box {
                margin: 0 auto;
                &:focus {
                  outline: none;
                  border: none;
                }
                & img {
                  width: 100%;
                  height: 320px;
                  object-fit: contain;
                  cursor: pointer;
                }  
              }
            }
            &__thumb {
              display: flex;
              flex-wrap: wrap;
              align-items: center;
              width: 520px;
              background-color: $whitesmoke;
              &__box {
                position: relative;
                width: 104px;
                height: 104px;
                &:after{
                  content:'';
                  background-color: rgba(0,0,0,0.5);
                  position:absolute;
                  display: block;
                  top: 0;
                  left: 0;
                  width: 100%;
                  height: 100%;
                  opacity: 1;
                  transition: .3s opacity linear;
                }
                &.thumbnail-current:after{
                  opacity: 0;
                }
                & img {
                  width: 104px;
                  height: 104px;
                  object-fit: fill;
                }
              }
            }
          }
          &__price {
            margin: 24px 0 24px;
            text-align: center;
            display: flex;
            flex-direction: column;
            & span {
              font-size: 46px;
              font-weight: bold;
              margin: 0 10px 0 0;
            }
            &--detail {
              font-size: 16px;
              & span {
                font-size: 16px;
              }
            }
          }
          .itembox__detail {
            line-height: 1.5;
            font-size: 18px;
            margin-bottom: 30px;
            &--sold {
              margin-bottom: 20px;
              text-align: center;
              &--btn  {
                line-height: 60px;
                background: #888;
                width: 80%;
                cursor: not-allowed;
                margin: 0 auto;
                p{
                  display: block;
                  text-decoration: none;
                  color: #fff;
                  font-size: 17px;
                }
              }
            }
            &--buy{
              margin-bottom: 20px;
              text-align: center;
              &--btn{
                line-height: 60px;
                background: #48D1CC;
                width: 80%;
                & a{
                  display: block;
                  text-decoration: none;
                  color: #FFF;
                  font-size: 17px;
                }
              }
            }
            &--edit{
              text-align: center;
              &--btn {
                line-height: 60px;
                background: #ea352d;
                width: 80%;
                & a {
                  display: block;
                  text-decoration: none;
                  color:  #FFF;
                  font-size: 17px;
                }
              }
            }
            &--or {
              text-align: center;
              margin-top: 10px;
              margin-bottom: 10px;
            }
            &--delete {
              margin-bottom: 20px;
              text-align: center;
              &--btn {
                line-height: 60px;
                background: #888;
                width: 80%;
                & a {
                  display: block;
                  text-decoration: none;
                  color:  #FFF;
                  font-size: 17px;
                }
              }
            }
          }
          &__explanation {
            font-size: 18px;
            margin-bottom: 30px;
            word-wrap: break-word;
            white-space: pre-wrap;
          }
          &__table {
            margin-bottom: 20px;
            &__link {
              &:hover {
                text-decoration: underline;
                opacity: 0.5;
              }
            }
            & table {
              width: 100%;
              height: 375px;
              border-collapse: collapse;
              border: 1px solid #f8f8f8;
              & tbody {
                display: table-row-group;
                vertical-align: middle;
                border-color: inherit;
                & tr {
                  display: table-row;
                  vertical-align: inherit;
                  border-color: inherit;
                  & th {
                    width: 20%;
                    background-color: #eee;
                    font-weight: 400;
                    padding: 8px;
                    border: 1px solid #dedede;
                    font-size: 14px;
                    text-align: center;
                  }
                  & td {
                    width: 61%;
                    padding: 15px 15px;
                    border: 1px solid #dedede;
                    font-size: 14px;
                    & a {
                      text-decoration: none;
                      color: #3CCACE;
                    }
                  }
                }
              }
            }
          }
          &__option {
            display: flex;
            justify-content: space-between;
            padding-top: 10px;
            .like-btn{
              height: 35px;
              &-link{
                display: block;
                color: #333;
                background-color: $whitesmoke;
                padding: 6px 10px;
                border-radius: 4px;
                transition: 0.5s;
              }
              &-delete-link{
                display: block;
                background-color: $mainblueColor;
                color: white;
                padding: 6px 10px;
                border-radius: 4px;
                transition: 0.5s;
              }
            }
            .optical {
              display: flex;
              .report-btn {
                font-size: 14px;
                & a {
                  padding: 6px 10px;
                  display: inline-block;
                  border-radius: 4px;
                  color: #333;
                  border: 1px solid #333;
                  text-decoration: none;
                }
              }
            }
          }
        }
        .commentbox {
          padding: 24px;
          background-color: #fff;
          margin: 10px 0;
          text-align: center;
          &__contents {
            list-style: none;
          }
          .new__comment {
            .comment__body {
              width: 100%;
              min-height: 104px;
              padding: 10px;
              font-family: inherit;
              font-size: inherit;
              font-weight: inherit;
              border-style: solid;
            }
            .notice__message {
              padding: 8px;
              font-size: 14px;
              background-color: #f8f8f8;
              margin: 10px 0;
              text-align: left;
            }
            .comment__btn {
              font-size: 18px;
              line-height: 48px;
              background: #3CCACE;
              border: 1px solid #3CCACE;
              color: #fff;
              width: 60%;
              font-size: 18px;
              border-radius: 100px;
            }
          }
        }
      }
      &--links {
        & li {
          float: left;
          & a {
            text-decoration: none;
            color: #3CCACE;
          }
        }
        & li:last-child {
          float: right;
        }
      }
      &--related {
        & a {
          display: block;
          margin: 50px 0 8px;
          color: #3CCACE;
          text-decoration: none;
          font-weight: bold;
          font-size: 22px;
          position: relative;
        }      
      }
    }

    #item-modal__content {
      position: fixed;
      top: 10%;
      bottom: 0;
      right: 0;
      left: 25%;
      min-width: 720px;
      min-height: 640px;
      width: 50%;
      height: 70%;
      border-radius: 10px;
      background-color: white;
      z-index: 100;
      .item-modal__times {
        padding: 24px;
        text-align: right;
        .fa-times {
          cursor: pointer;
        }
      }
      .item-modal__slider {
        position: relative;
        padding-bottom: 24px;
        font-size: 60px;
        .slick-arrow {
          position: absolute;
          top: 40%;
          cursor: pointer;
        }
        .arrow-right {
          position: absolute;
          right: 2%;
          z-index: 100;
        }
        .arrow-left {
          position: absolute;
          left: 2%;
          z-index: 100;
        }
        &__box {
          display: flex;
          &:focus {
            outline: none;
            border: none;
          }
          & img {
            display: block;
            margin: 0 auto;
            max-height: 520px;
            min-height: 400px;
            height: 100%;
            object-fit: fill;
          }  
        }
      }
    }
    #item-modal__overlay {
      background: rgba(0,0,0,0.5);
      width: 100%;
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 99;
    }
  }
}

.app-banner {
  background-image: image_url("bg-appBanner-pict.jpg");
  padding: 100px 40px;
  position: relative;
  background-size: cover;
  background-position: center;
  &__inner {
    color: #fff;
    text-align: center;
    &-title {
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      font-size: 24px;
      font-weight: bold;
      line-height: 1.4;  
    }
    &-text {
      font-size: 35px;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
    }
    &-icon {
      width: 100%;
      display: flex;
      justify-content: center;
      margin: 20px auto 0;
      & a {
        margin-right: 10px;
        & img {
          width: 180px;
          vertical-align: bottom;
        }
      }
    }
  }
}
