.card-container{
  text-align: center;
  background-color: white;
  .card-wrapper{
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    max-width: 400px;
    img{
      width: 100px;
      display: block;
      margin: 0 auto;
    }
    .creditcard-info__period{
      .btn-card{
        font-size:16px;
        width:220px;
        font-weight:bold;
        text-decoration:none;
        text-align:center;
        padding:8px 0 10px;
        margin: 10px 0;
        color:#fff;
        background-color:$mainblueColor;
        border-radius:5px;
      }
    }
  }
}

.form{
  &__upper{
    margin: 0 auto;
    max-width: 343px;
    &__group {
      font-size: 16px;
      color: #333;
      .btn-default {
        width: 50%;
        height: 50px;
        border-radius: 10px;
        background-color: $mainblueColor;
        color: #FFFFFF;
        font-size: 15px;
        cursor: pointer;
      }
      &:not( :first-child ){
        margin-top: 32px;
      }
      label{
        font-weight: 600;
      }
      .form-require {
        background-color: $mainblueColor;
        color: #fff;
        font-size: 16px;
        margin: 0 0 0 8px;
        padding: 2px 4px;
        border-radius: 2px;
      }
      .input-default{
        width: 90%;
        margin: 8px 0 0;
        height: 48px;
        padding: 10px 16px 8px;
        border-radius: 4px;
        border: 1px solid #ccc;
        background: #fff;
        line-height: 1.5;
        font-size: 16px;
      }
      span {
        margin: 0 5px;
      }
    }
  }
}