#forgot__password__user{
  background-color: white;
  margin: 0 auto;
  width: 306px;
  padding: 80px 0;
  .field__forgot__password{
    padding: 20px 0 0 3px;
  }
  .actions{
    padding-top: 40px;
    .send__btn{
      display: inline-block;
      background-color: $skyblue;
      width: 306px;
      opacity: 0.8;
      padding: 15px 0;
      color: white;
      transition: 1s;
      @include hover(white, 0.6)
    }
  }
}
.max__height__wrapper{
  height: 100%;
}