.mypage-wrapper {
  display: flex;
  width: 100%;
  padding: 60px 10%;
  background-color: $whitesmoke;
  .mp-side_bar {
    &__nav_list {
      margin-bottom: 32px;
      h4{
        font-weight: bold;
      }
      &__link {
        display: inline-block;
        position: relative;
        width: 270px;
        height: 50px;
        padding: 16px;
        border: 1px solid $whitesmoke;
        background-color: white;
        color: black;
        font-size: 14px;
        &:hover{
          background-color: #EEEEEE;
          .fa-chevron-right{
            transform: scale(1.5);
            transition-duration: 0.3s;
            color: black;
          }
        }
        .fa-chevron-right {
          position: absolute;
          right: 15px;
          top: 18px;
          color: $lightgray;
        }
      }
    }
  }
  .mp-content {
    position: relative;
    width: 100%;
    margin-left: 30px;
    &__background_img{
      width: 100%;
      height: 200px;
    }
    &__user_info {
      position: absolute;
      top: 20px;
      left: 40%;
      text-align: center;
      &--icon_img {
        width: 70px;
        height: 70px;
        border-radius: 50%;
      }
      &--performance {
        display: flex;
        p {
          padding: 5px 10px;
        }
      }
    }
    &__todo_info {
      width: 100%;
      background-color: white;
      &__tabs {
        display: flex;
        width: 100%;
        outline: none;
        &__tab {
          width: 50%;
          height: 50px;
          line-height: 50px;
          cursor: pointer;
          background-color: $lightgray;
          text-align: center;
          &:hover {
            opacity: 0.8;
          }
          &__info_box {
            display: none;
          }
        }
        .active_tab {
          border-top: 1px solid $sign-up-btn;
          background-color: white;
        }
      }
      &__todo_notif {
        &__box {
          display: none;
        }
        .active_box {
          display: block;
          .mp-notif {
            background-color: white;
            height: 80px;
            border-bottom: 1px solid #EEEEEE;
            text-decoration: none;
            display: flex;
            align-items: center;
            position: relative;
            color: black;
            @include hover__color(black, #EEEEEE, 0.8);
            &:hover{
              .fa-chevron-right{
                color: black;
                transform: scale(1.5);
                transition-duration: 0.3s;
              }
            }
            .fa-chevron-right{
              position: absolute;
              right: 10px;
              color: $lightgray;
            }
            &__img{
              margin: 6px 25px 0 15px;
            }
            &__details {
              &__message {
                padding-right: 40px;
              }
              &__time {
                color: gray;
              }
            }
          }
        }
        &__list_link {
          padding: 16px;
          text-align: center;
          &--btn {
            display: block;
            height: 48px;
            padding: 14px;
            background-color: whitesmoke;
            color: black;
            @include hover__color(black, white, 1);
          }
        }
      }
    }
  }
}