$skyblue            :#00BFFF;
$lightgray          :lightgray;
$whitesmoke         :whitesmoke;
$sign-up-btn        :#DD0000;
$login-btn          :#2C7CFF;
$facebook-color     :#003399;
$mainWhiteColor     :#fff;
$mainWhite2Color    :#f5f5f5;
$maingrayColor      :#888;
$maingray2Color     :#ccc;
$mainblueColor      :#3ccace;
$messageColor       :#FFFACD;
$gray               :gray;