.register-wrapper
  = render 'header'
  .create-form
    .create-form__title
      %h2.create-form__title--text 登録が完了しました
    .create-form__for
      .create-main
        .create-main__form
          = link_to "トップへ戻る", root_path, class: 'create-main__form--btn'

= render "shared/form-footer"