%section.app-banner
  .inner
    %h2.inner__title だれでもかんたん、人生を変えるフリマアプリ
    %p.inner__text 今すぐ無料ダウンロード！
    .inner__icon
      = link_to "#", class: "app__google--link" do
        = image_tag 'app-store.svg', alt: 'app-store', class: 'link-app'
      = link_to "#", class: "app__google--link" do
        = image_tag 'google-play.svg', alt: 'google-play', class: 'link-google'