.item-list__main{
  .category-guide{
    width: 100%;
    border-top: 1px solid #eee;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
    position: relative;
    padding: 0 60px;
    .category-guide__box{
      display: flex;
      padding: 17px 0 16px;
      width: 100%;
      max-width: 1040px;
      font-size: 14px;
      margin: 0 auto;
      .category-guide__box__one{
        .category-guide__box__one__title{
          text-decoration: none;
          color: black;
          margin-right: 10px;
        }
        .category-guide__box__one__sub{
          text-decoration: none;
          color: black;
          margin-right: 10px;
        }
      }
    }
  }
  .category-guide__box__one__sub::before{
    content: '>';
    margin-right: 10px;
  }

  section.category-list {
    padding: 40px 0;
    background-color: #f8f8f8;
    height: 100%;
    .category-list__title {
      margin: 0 auto;
      width: 960px;
      background-color: $mainblueColor;
      border-radius: 5px 5px 0 0;
      .category-list__title__box{
        text-align: center;
        font-size: 24px;
        line-height: 2;
        font-weight: bold;
        color: $mainWhiteColor;
        }
    }
    .category-list__sub{
      border-radius: 0 0 5px 5px;
      width: 960px;
      margin: 0 auto;
      background-color: $mainWhiteColor;
      .category-list__sub__parents{
        padding: 15px;
        display: flex;
        flex-wrap: wrap;
        .category-list__sub__parents__one{
          margin: 15px;
          line-height: 16px;
          font-size: 16px;
          
          .category-list__sub__parents__one__inner{
            text-decoration: none;
            color: orange;
          }
        }
      }
    }
    .category-list__items{
      max-width: 100%;
      width: 980px;
      margin: 26px auto;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      .item-list {
        max-width: (1 / 5);
        background-color: #fff;
        box-shadow: 0 3px 5px rgba(0,0,0,0.22); 
        margin-bottom: 15px;       
        .item-img {
          width: 180px;
          height: 180px;
          object-fit: cover;
        }
        ul {
          list-style-type: none;
        }
          .item-list__body {
            max-width: 180px;
            background-color: #fff;
            color: #333;
            padding: 16px;
            .name {
              overflow: hidden;
              line-height: 1.5;
              font-size: 14px;
              text-align: left;
            }
            .details ul {
              font-size: 14px;
              display: flex;
              align-items: center;
              justify-content: space-between;
              #like::before {
                content: "★";
              }
            }
              .detail {
                font-size: 10px;
                text-align: left;
              }  
          }
      }
      .hover:hover {
        opacity: 0.6;
      }
    }
  }
}