$("#trading__box").html("#{escape_javascript(render partial: 'trading_status', locals: { item: @item, saler_user: @saler_user, buyer_user: @buyer_user, evaluation: @evaluation})}")
$("#message__form").html("#{escape_javascript(render partial: 'form', locals: { item: @item, message: @message})}")
$("#trading__messages").html("#{escape_javascript(render partial: 'messages/index', locals: { messages: @messages, item: @item})}")