
.brands__search{
  position: relative;
  margin-left: 18px;
  .icon__brand{
    position: absolute;
    top: 6.5px;
    left: -10px;
  }
}
.brand__parent{
  display: none;
}

.brands{
  padding-bottom: 2px;
  position: relative;
  &:hover{
    .brand__parent{
      z-index: 1000;
      display: block;
      position: absolute;
      top: 40px;
      left: 7px;
      background-color: white;
      border-right: 1px solid $whitesmoke;
      &--name{
        width: 200px;
        color: black;
        display: inline-block;
        padding: 10px 20px;
        font-size: 13px;
        letter-spacing: 2px;
        @include hover__color(white, $mainblueColor, 1);
      }
    }
  }
}