// エラーが出た際フォームの入力フォントサイズが変わってしまうのでフォーム要素のidにfont-sizeを指定。
#user_nickname, #user_email, #user_password, #user_password_confirmation, #user_last_name, #user_first_name, #user_last_name_kana, #user_first_name_kana, #user_current_password{
  font-size: 15px;
  color: black;
  height: 40px;
  padding: 0 10px;
  border-radius: 5px;
}

//エラーが二つ出たさいのビューの崩れを防ぐため
#user_password_confirmation{
  margin-top: 10px;
}

// エラー文が入れられているクラスにcssを指定
.error-class, .error-class2{
  color: red;
  opacity: 0.9;
  font-size: 8px;
  letter-spacing: 2px;
}

// パスワード表示のチェックボックスのcss
.pw__checkbox{
  font-size: 13px;
  letter-spacing: 1px;
  height: 13px;
  line-height: 13px;
  font-weight: normal;
  padding-left: 4px;
  padding: 10px 0 30px;
  & input {
    padding: 5px;
    transform: scale(1.5);
    margin:0 5px 10px 0;
    border: 1px solid $lightgray;
  }
}

// フォーム要素がクリックされたときに表示されるボーダーを変更
input{
  border: 1px solid $lightgray;
}
input:focus{
  border: 1px solid $skyblue;
  outline: 0;
}

// 以下二つはフォームの高さとlabel(フォーム要素の上に表示される名前のような物)は全て一致しているためまとめて定義
.field__form{
  height: 60px;
}
.field__label{
  font-size: 13px;
  font-weight: bold;
  padding-bottom: 4px;
  span {
    font-size: 11px;
    padding: 5px;
    border-radius: 3px;
    padding-bottom: 3px;
  }
  &--require{
    background-color: $skyblue;
    color: white;
  }
  &--any{
    background-color: $lightgray;
    color: white;
  }
}

// 以下二つはインプット要素にサイズの異なる物があるため別々にサイズを定義。一致しているカラーなどはページ上部の複数のidにまとめて定義してある（ニックネーム入力欄と氏名入力欄ではサイズが異なるため。）
.field__form input{
  width: 306px;
}
.field__form select{
  width: 306px;
}
.field__form--name input{
  width: 148px;
}

// 氏名入力欄が姓と名の二つに分かれているので横並びにします。また他の要素と違いエラー文が二つ出る場合があるので高さを20px高くしています。また空白を作るためにmargin-rightで距離を作っています。（148 * 2 + 10 = 306 なのでフォーム要素のサイズは空白を含めると同じサイズになるようにしました）
.field__area{
  display: flex;
  height: 80px;
  .form__zone--left{
    margin-right: 10px;
  }
}


// ナビゲーター
.field__pw{
  position: relative;
  .nav__password{
    position: absolute;
    top: 0;
    right: 0;
    color: gray;
    letter-spacing: 2px;
    font-size: 11px;
  }
}

.nav__information{
  font-size: 12px;
  letter-spacing: 0.5px;
  &--center{
    text-align: center;
  }
  .confirmation__link{
    color: $skyblue;
    @include hover($skyblue, 0.8);
  }
}

.personal{
  color: gray;
  padding-bottom: 30px;
}

.nav__personal--information{
  text-align: right;
  padding: 30px 0;
  &--link{
    color: $skyblue;
    font-size: 12px;
    letter-spacing: 0.5px;
    @include hover($skyblue, 0.8);
  }
}

.nav__privacy--information{
  background-color: $whitesmoke;
  height: 50px;
  padding-top: 11px;
  font-size: 8px;
  color: gray;
  &--link{
    color: $skyblue;
    @include hover($skyblue, 0.8);
  }
}

//-----------------------------------------------
// セレクトボックスのcss
//-----------------------------------------------
// 新規登録（生年月日）のセレクトボックス
select::-ms-expand {
  display: block;
}

select {
  -moz-appearance: menulist;
  -webkit-appearance: menulist;
  font-size: 15px;
  height: 50px;
  width:72px;
  padding: 0 8px;
  border: 1px solid $lightgray;
  border-radius: 5px;
  background-color:white;
}
select:focus{
  border: 1px solid $skyblue;
  outline: 0;
}

// 年のセレクトボックス のサイズ変更
#user_birthday_1i{
  width: 100px;
}

// エラーが出た際"日"といテキストがビュー崩れするので崩れないようにposition指定
.field__birthday{
  position: relative;
  &--day{
    position: absolute;
    top: 13px;
    right: 0;
  }
}

// 商品送付先ページ（都道府県）のセレクトボックス
.select{
  height: 30px;
  width:90px;
  font-size: 15px;
  border-radius: 1px;
  -moz-appearance: menulist;
  -webkit-appearance: menulist; 
}

textarea {
  padding: 8px 12px;
  border: solid 1px $lightgray;
  border-radius:  5px;
  font-size: 16px;
}

textarea:focus{
  border: 1px solid $skyblue;
  outline: 0;
}