.form-footer{
  height: 200px;
  width: 100%;
  padding-top: 30px;
  text-align: center;
  background-color: $whitesmoke;
  &__menu ul{
    display: flex;
    text-align: center;
  }
  &__menu{
    width: 100%;
    text-align: center;
    &--btn{
      color: gray;
      font-size: 12px;
      &:hover{
        opacity: 0.8;
        border-bottom: 1px solid black;
      }
    }
    &--left{
      margin-left: 20px;
    }
    &--right{
      margin-right: 20px;
    }
  }
  &__logo{
    padding-top: 30px;
    &--btn{
      &:hover{
        opacity: 0.7;
      }
    }
  }
}