
.pagination{
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
}
.pagination span{
  background-color: $mainblueColor;
  text-align: center;
  width: 70px;
  transition: .3s;
  -webkit-transform: scale(1);
  transform: scale(1);
  color: white;
  &:hover{
    transition: .3s;
    -webkit-transform: scale(1.3);
    transform: scale(1.1);
  }
}
.pagination span a{
  text-decoration: none;
  color: white;
  display: block;
  &:hover{
    transition: .3s;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}