#address_postal_code, #address_prefectures, #address_municipality, #address_last_name, #address_first_name, #address_last_name_kana, #address_first_name_kana, #address_building, #address_phone_number, #address_address{
  font-size: 15px;
  color: black;
  height: 40px;
  padding: 0 10px;
  border-radius: 5px;
}
.registration__completed__wrapper{
  background-color: $whitesmoke;
  position: relative;
  height: 100%;
  width: 100%;
}

    .member-form {
      width: 700px;
      justify-content: center;
      background-color: white;
      margin: 0 auto;
      &__title {
        border-bottom: 1px solid $mainWhite2Color;
        &-text {
          text-align: center;
          padding: 30px 0 30px;
          border-bottom: 1px solid whitesmoke;
          font-weight: normal;
        }
      }
      &__for {
        padding: 7px 16px 40px;
        .field_with_errors {
          display: inline;
        }          
        .field_with_errors input,
        .field_with_errors select {
          outline: 0;
          border-color: red !important;
        }
        .errors {
          margin-top: 5px;
          line-height: 1.5;
          color: red;
        }
        .member-main {
          width: 306px;
          margin: 0 auto;
          &--area {
            &__flabel {
              margin-top: 24px;
              position: relative;
              font-size: 13px;
              font-weight: bold;
              text-align: left;
              & span {
                background-color: $skyblue;
                color: white;
                font-size: 11px;
                padding: 5px;
                border-radius: 3px;
                padding-bottom: 3px;
              }
            }
            &__label {
              text-align: left;
              position: relative;
              font-size: 13px;
              font-weight: bold;
              & span {
                background-color: $skyblue;
                color: white;
                font-size: 11px;
                padding: 5px;
                border-radius: 3px;
                padding-bottom: 3px;
              }
              &--info {
                position: absolute;
                top: 0;
                right: 110px;
                color: gray;
                letter-spacing: 2px;
                font-size: 11px;
              }
              &--input {
                height: 48px;
                width: 328px;
                margin-top: 8px;
                padding-left: 16px;
                font-size: 16px;
                border: 1px solid $maingray2Color;
              }
            }
            &__name {
              display: flex;
              height: 80px;
              text-align: left;
              &--left {
                width: 148px;
                height: 80px;
                margin-right: 10px;
                & input {
                  width: 148px;
                  font-size: 15px;
                  color: black;
                  height: 40px;
                  padding: 0 10px;
                  border-radius: 5px;
                }
              }
              &--right {
                width: 148px;
                height: 80px;
                & input {
                  width: 148px;
                  font-size: 15px;
                  color: black;
                  height: 40px;
                  padding: 0 10px;
                  border-radius: 5px;
                }
              }            
            }
            &__form {
              height: 60px;
              text-align: left;
              & input {
                font-size: 15px;
                color: black;
                height: 40px;
                padding: 0 10px;
                border-radius: 5px;
                width: 306px;
              }
              &--prefecture {
                width: 306px;
                background-color: $mainWhiteColor;
                height: 40px;
              }
            }
            &__pform {
              height: 80px;
              text-align: left;
              & input {
                font-size: 15px;
                color: black;
                height: 40px;
                padding: 0 10px;
                border-radius: 5px;
                width: 306px;
              }
            }
          }
          &--action {
            padding-top: 40px;
            &__btn {
              display: inline-block;
              background-color: #00BFFF;
              width: 306px;
              opacity: 0.8;
              padding: 15px 0;
              color: white;
              transition: 1s;
              margin-bottom: 84px;
              @include hover(white, 0.6)
            }
          }
        }
      }
    }

    .create-form{
      background-color: $mainWhiteColor;
      height: 374px ;
      margin: 0 auto;
      width: 700px;
      &__title{
        border-bottom: 1px solid $mainWhite2Color;
        height: 160px;
        &--text{
          font-size: 25px;
          font-weight: 600;
          line-height: 1.5;
          padding-top: 62px;
          text-align: center;
        }
      }
      &--btn{
        margin: 0 auto;
        padding: 16px 120px;
        font-size: 16px;
        line-height: 48px;
        text-decoration: none;
        border: 1px solid $mainblueColor;
        background-color: $mainblueColor;
        color: $mainWhiteColor;
        @include hover(white, 0.6)
      }
      &__for{
        padding: 40px 16px 40px;
        text-align: center;
        .field_with_errors{
          display: inline;
        }          
      }
    }

.create-main__form--btn{
  color: white;
  display: block;
  width: 306px;
  height: 40px;
  line-height: 40px;
  background-color: $skyblue;
  opacity: 0.8;
  transition: 0.5s;
  border-radius: 3px;
  margin: 0 auto;
  @include hover__color(white, $skyblue, 0.6)
}

