@mixin hover($color,$opacity){
  &:hover{
    opacity: $opacity;
    border-bottom: 1px solid $color;
  }
}
@mixin hover__color($color, $background-color, $opacity){
  &:hover{
    color: $color;
    background-color: $background-color;
    opacity: $opacity;
  }
}
@mixin messages__box{
  margin-top: 50px;
  width: 90%;
  padding: 10px 20px;
  border-radius: 7px;
  position: relative;
  word-wrap: break-word;
}
@mixin message__user__icon{
  width: 50px;
  height: 50px;
  border-radius: 100px;
  position: absolute;
  top: -35px;
}